*
!hypr
!hypr/bindings.lua
!scripts
!scripts/grace-window.awk
!scripts/grace-window.jq
!scripts/grace-window.lua
!scripts/grace-window.sh
!.gitignore
!LICENSE
!manifest.json
!preview.png
!README.md
!Service.qml
